div.stage {
    font-weight: bold;
    border: solid #A0A0A0 10px;
}

div.field {
    border: solid #A0A0A0 20px;
    width: 220px;
    height: 220px;
    position: relative;
}

div.ball-and-info {
   position: absolute;
   bottom: 0;
   width: 100%;
}

* {
    background: #A0A0A0;
}