
table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    background: #A0A0A0;
}

div.traffic-light {
    display: inline-block; 
    vertical-align: top;
    margin: 5px;
}
